#mapDiv
{
    width:100%;
    height:850px;
    padding: 0px 10px;
    border:thin solid black;
}

.checked {
  color: orange;
}

#head_h1{
    background-color: blueviolet;
    margin: 0;
    font-size:3em;
    font-family: 'Courier New', Courier, monospace;
}

#head_p{
    margin: 0;
    font-size: 2em;
}

#mapOptions{
    position: absolute;
}

#serviceOptions{
    position:absolute;
}

#control-panel{
    position: relative;
    left: 88%;
}
